* {
  margin: 0;
  padding: 0;
}
.container-fluid {
  padding: 0;
  font-family: "Lato", sans-serif;
  color: white;
}
.col-10 {
  margin: 0 auto;
}
.light {
  background: linear-gradient(0.35turn, #4a97c4, white);
}

.dark {
  background: url("./image/-john-galt-.jpg") no-repeat;
}
.cover {
  background: linear-gradient(
    rgba(114, 114, 114, 0.5) 0%,
    rgba(165, 162, 162, 0.5) 100%
  );
  padding-bottom: 360px;
}
.navbar {
  background-color: #ced8e1 transparent;
  padding: 0;
}
#logo {
  width: 9%;
}
span {
  font-size: 100px;
}
h1 {
  font-size: 70px;
  font-weight: bolder;
  padding-bottom: 40px;
}

.qoutes {
  position: relative;
  text-align: justify;
}
.block {
  width: 300px;
  height: 200px;
  background-color: transparent;
  color: white;
  font-size: 16px;
  position: relative;
}

.middle {
  top: 190px;
  left: -60px;
}
.bottom {
  left: -600px;
  top: 350px;
}
#info {
  display: flex;
  padding: 100px 0;
}
#info div {
  padding-left: 50px;
}
#info h4 {
  padding: 0 0 10px 0;
}
#info p {
  text-align: justify;
}
.card {
  background: transparent;
}
.card-body {
  display: flex;
  justify-content: space-between;
}
.card-text,
.card-title {
  text-align: center;
}
h4 {
  font-size: 40px;
  padding: 60px 0 40px 0;
  text-align: center;
}
.dark-footer {
  background-color: #4a97c4;
  padding: 80px 0;
}
a {
  font-size: 25px;
}
header a {
  color: #94d5fa;
  font-weight: bold;
}
a:hover {
  text-decoration: none;
  color: #027ac0;
}
.contact-item {
  filter: brightness(2);
}
.contact{
  display:flex;
  justify-content: space-between;
  padding: 0 400px;
}
.btn-mobile {
  width: 60px;
  height: 60px;
  cursor: pointer;
  display: none;
  justify-content: center;
  align-items: center;
}
.btn-mobile span {
  width: 50px;
  height: 8px;
  background-color: #4abdff;
  border-radius: 3px;
  position: relative;
  padding: 0;
  transition: background-color 0.3s;
}
.btn-mobile span::before,
.btn-mobile span::after {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  background-color: #4abdff;
  border-radius: 3px;
  transition: 300ms;
}
.btn-mobile span::before {
  top: -15px;
  transition-property: top, transform;
  transition-duration: 0.3s, 0.3s;
  transition-delay: 0.3s, 0s;
}
.btn-mobile span::after {
  bottom: -15px;
  transition-property: bottom, transform;
  transition-duration: 0.3s, 0.3s;
  transition-delay: 0.3s, 0s;
}
.active span {
  background: none;
}

.active.btn-mobile span::before {
  transition-delay: 0s, 0.3s;
  top: 0;
  transform: rotate(45deg);
}

.active.btn-mobile span::after {
  transition-delay: 0s, 0.3s;
  bottom: 0;
  transform: rotate(-45deg);
}
.nav-menu{
  display: flex;
}
.nav-menu a{
  padding: 0 30px;

}
.active.nav-menu {
  transition: 0.8s;
}

@media (max-width: 992px) {
  .btn-mobile {
    display: flex;
  }
  .nav-menu {
    flex-direction: column;
    position: absolute;
    top: -300%;
    right: 0;
  }
  .nav-menu.active {
    top: 100%;
  }
  #info,
  .news {
    display: block;
  }
  #logo {
    width: 80px;
  }
}
